<div class="p-5">
    <form [formGroup]="formularioExperiencia" (ngSubmit)="registrarExperiencia()">
        <div class="contact-image">
            <img src="../../assets/img/palm_128.png" alt="rocket_contact" />
        </div>

        <h3>Crear Experiencia</h3>

        <div class="row">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Titulo" formControlName="titulo">
                    <label for="floatingTitulo">Titulo</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="date" class="form-control" placeholder="Fecha" formControlName="fecha">
                    <label for="floatingFecha">Fecha</label>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-floating mt-2">
                    <textarea type="text" class="form-control" placeholder="Texto" formControlName="texto"></textarea>
                    <label for="floatingTexto">Texto</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <select class="form-select mt-3">
                    <option>Categoria</option>
                    <option>Turismo</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-select mt-3" formControlName="subcategoria">
                    <option>Subcategoria</option>
                    <option>Montaña</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <select class="form-select mt-3">
                    <option>Provincia</option>
                    <option>Valladolid</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-select mt-3">
                    <option>Comunidades</option>
                    <option>Castilla y León</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mt-3">
                <input list="municipio" name="municipio" formControlName="localizacion" placeholder="Municipio"
                    style="width: 100%; height: 35px;">
                <datalist id="municipio">
                    <option value="Carrion">Carrion</option>
                    <option value="Saldaña">Saldaña</option>
                    <option value="Aguilar">Aguilar</option>
                    <option value="Guardo">Guardo</option>
                    <option value="Alar">Alar</option>
                </datalist>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <input type="number" class="form-control" placeholder="Puntuacion" formControlName="puntuacion"
                    style="width: 100%; height: 40px;" max="10" min="1">
            </div>
        </div>

        <!-- Sexta fila -->
        <div class="row mt-4">
            <div class="col-md-6">
                <input type="file" class="form-control" disabled multiple
         accept="image/png, image/jpeg, image/jpg">
            </div>
            <div class="col-md-6 d-flex justify-content-center mb-3">
                <button class="btn btn-lg" type="submit"
                    style="background-color: #f78536; width: 150px; height: 45px;">Entrar</button>
            </div>
        </div>
    </form>
</div>