<header>
  <!-- COMPONENTE HEADER FIJO -->
  <!-- el nav cambiara el contenido del main -->
  <!-- pinchar en muñeco FIJO y que cambie el main por COMPONENTE INFO USUARIO  -->
</header>
<main>
  <!-- APARECE UNO DE LOS 3 <router-outlet></router-outlet> -->
  <!-- COMPONENTE INFO / LOGIN / REGISTRO -->
  <!-- ------------------ -->
  <!-- COMPONENTE EXPERIENCIAS -->
  <!-- ------------------ -->
  <!-- COMPONENTE BIENVENIDA tiene esto: -->
  <!-- -LINK MOSTRANDO ULTIMAS EXPERIENCIAS 2/3 -->
  <!-- -LINK MOSTRANDO MEJOR EXPERIENCIA 1/3 -->
  <!-- link lleva a componente experiencias -->
  <!-- ------------------ -->
  <!-- COMPONENTE EXPERIENCIAS -> SUBCOMPONENTE  -->
</main>
<footer>
  <!-- COMPONENTE FOOTER FIJO -->

</footer>