<div id="contenedor">
    <div class="card" style="width: 24rem;margin:1rem">
        <img src="../../assets/img/seebensee-2384369-810x540.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Titulo Experiencia</h5>
            <p class="card-text">La vida es como montar en bicicleta. Para mantener el equilibrio, debes seguir
                adelante. Atrévete a explorar nuevos horizontes, a desafiarte a ti mismo y a crecer en cada pedaleo.
                ¡Disfruta del viaje!.</p>
            <p class="card-text"><small class="text-muted">subcategoria -> localizacion</small></p>
            <p class="card-text">Usuario<br><small class="text-muted">Last updated 3 mins ago</small></p>
            <p class="card-text mt-4">Puntuación <i class="like-icon far fa-thumbs-up"></i></p>
            <a href="experiencia-individual/{{1}}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>