@for (exp of experiencias; track $index) {
@if (exp.id == id) {
<div class="container mt-4 mb-4 ">
    <div class="row slider">
        <!--  d-flex justify-content-center -->
        <div class="col">
            <h1>{{exp.titulo}}</h1>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row slider mx-0 mx-sm-5">
        <div class="col mx-3">
            <p><i class="bi bi-pencil-fill"></i> {{exp.texto}}</p>
        </div>
    </div>
</div>

<div class="container mt-3 mb-3">
    <div class="row slider mx-0  mx-sm-5">
        <div class="col mx-3">
            <p><i class="bi bi-crosshair"></i><strong> {{exp.localizacion.nombre}}</strong>,
                {{exp.localizacion.provincia.nombre}}
                ({{exp.localizacion.provincia.comunidad.nombre}}).</p>
        </div>
    </div>
</div>

<div class="container mt-3 mb-3">
    <div class="row slider mx-0  mx-sm-5">
        <div class="col mx-3">
            <p><i class="bi bi-person-lines-fill"></i> Publicado por <strong>{{exp.usuario.nombre}} </strong></p>
            <p><i class="bi bi-calendar-date-fill"></i> {{exp.fecha}}</p>
        </div>
    </div>
</div>
<div class="container mt-3 mb-3">
    <div class="row slider mx-0  mx-sm-5">
        <div class="col mx-3 d-flex justify-content-between">
            <p><i class="bi bi-suit-heart-fill"></i> Puntuacion <strong>{{exp.puntuacion}} </strong></p>
            <a href="COMENTARIOS" class="btn btn-primary">Realizar comentario</a>
        </div>
    </div>
</div>

<div class="container mt-3 mb-3" id="carrusel">
    <div class="row slider">
        <div class="col">
            <div id="carousel" class="carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    @for (img of imagenes; track $index) {
                    @if (img.experiencia_id == exp.id) {
                    <div class="carousel-item active">
                        <img src="data:image;base64,{{img.nombre}}" class="d-block col-12 d-inline-block"
                            alt="imagen_{{img.id}}">
                    </div>
                    }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>

                <!-- <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1">
                    </button>

                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2">
                    </button>

                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3">
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 mb-5 d-flex">
    <div class="row">
        <div class="col-md-8">
            <h2>Comentarios</h2>
            <div class="container contact-form mt-3 col-xl-12 col-lg-12 col-md-12 col-11 mx-4">
                <form method="post" [formGroup]="formComent" (ngSubmit)="registrarComentario()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mt-4">
                                <textarea class="form-control" placeholder="Texto" formControlName="texto"></textarea>
                                <label for="floatingTexto">Texto</label>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center mt-4 mb-4">
                            <button class="btn btn-lg" type="submit" style="background-color: #f78536;">Enviar
                                comentario</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        @for (coment of comentarios; track $index) {
        @if(coment.experiencia.id == exp.id){
        <div class="col-sm-11 col-10 card mx-5">
            <div class="card-body">
                <h5 class="card-title">{{coment.usuario.nombre}}</h5>
                <p class="card-text">{{coment.texto}}</p>
                <p class="card-text"><small class="text-muted">{{coment.fecha}}</small></p>
            </div>
            @if (coment.usuario.id == userId) {
            <button type="button" (click)="borrarComentario(coment.id)">borrar coincide </button>
            }@else {
            <button disabled>borrar no coindice</button>
            }
        </div>
        }
        }

    </div>
</div>
}
}