<div class="container contact-form mt-3 col-xl-12 col-lg-12 col-md-12 col-11">
    <div class="contact-image">
        <img src="../../assets/img/palm_128.png" alt="rocket_contact" />
    </div>

    <form method="post">
        <h3>Modificar Cuenta</h3>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center ">
                <div class="form-floating col-9 col-md-7">
                    <input type="text" class="form-control" value="{{usuario.nombre}}">
                    <label for="floatingInput">Nombre</label>
                </div>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <div class="form-floating mt-2 col-9 col-md-7">
                    <input type="email" class="form-control" placeholder="Email" value="{{usuario.apellidos}}">
                    <label for="floatingInput">Apellido</label>
                </div>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <div class="form-floating mt-2 col-9 col-md-7">
                    <input type="email" class="form-control" value="{{usuario.mail}}">
                    <label for="floatingInput">Correo</label>
                </div>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <div class="form-floating mt-2 col-9 col-md-7">
                    <input type="text" class="form-control" value="{{usuario.ciudad}}">
                    <label for="floatingInput">Ciudad</label>
                </div>
            </div>

            <div class="col-md-12 d-flex justify-content-center">
                <div class="form-floating mt-2 col-9 col-md-7">
                    <button class="w-50 btn btn-lg" type="submit" style="background-color: #f78536;">
                        <a href="cambiarContra.html">Cambiar Contraseña</a>
                        <!-- DEBE DE SER UNA RUTA Y CAMBIAR CONTRASEÑA o ponerlo todo en la misma POR TIEMPO! -->
                    </button>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-2 mb-3">
                <button class="w-25 btn btn-lg" type="submit" style="background-color: #f78536;">Actualizar
                    cuenta</button>
            </div>
        </div>
    </form>
</div>